<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
     <!-- <ion-img src="#"></ion-img>-->
      <ion-card-header>
        <ion-card-title>¿Quienes somos?</ion-card-title>
        <ion-card-subtitle>Somos estudiantes del instituto profesional de Chile, este proyecto fue hecho para una evaluacion de la asignatura
            Programacion de aplicaciones Mobiles.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
         <h1>Integrantes</h1> <br> Carlos Diaz Jerez <br>Carlos Morales Duarte
      </ion-card-content>
    </ion-card>
  <ion-button expand=full (click)="volver()" color="danger">Volver a inicio</ion-button>


  <ion-label>versión app. 0.12.83354b</ion-label>
</ion-content>