<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="end">
      <ion-button (click)="pedidos()">
        <ion-icon slot="icon-only" name="ios-restaurant"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="warning">
      Menú
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label align="center">COMBOS</ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Combo Hamburguesa 1</h3><br>
        <ion-label>Combo hamburguesa + bebida</ion-label><br>
        <ion-label>Valor $ 2.000.-</ion-label>
          <ion-img src="assets/combo1.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Hamburguesa 2</h3><br>
        <ion-label>Combo hamburguesa + bebida + papas fritas</ion-label><br>
        <ion-label>Valor $ 2.500.-</ion-label>
        <ion-img src="assets/combo 2.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Hamburguesa 3</h3><br>
        <ion-label>Combo hamburguesa + bebida + papas fritas + empanadas</ion-label><br>
        <ion-label>Valor $ 3.000.-</ion-label>
        <ion-img src="assets/combo 3.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Hamburguesa 4</h3><br>
        <ion-label>Combo hamburguesa + bebida + papas fritas + empanadas + nuggets</ion-label><br>
        <ion-label>Valor $ 3.500.-</ion-label>
        <ion-img src="assets/combo 4.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Hamburguesa 5</h3><br>
        <ion-label>Combo hamburguesa + bebida + papas fritas + empanadas + nuggets + helado</ion-label><br>
        <ion-label>Valor $ 4.000.-</ion-label>
        <ion-img src="assets/combo 5.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Completo 1</h3><br>
        <ion-label>Combo completo + bebida</ion-label><br>
        <ion-label>Valor $ 1.800.-</ion-label>
        <ion-img src="assets/combo 6.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Completo 2</h3><br>
        <ion-label>Combo completo + bebida + papas fritas</ion-label><br>
        <ion-label>Valor $ 2.300.-</ion-label>
        <ion-img src="assets/combo 7.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Completo 3</h3><br>
        <ion-label>Combo completo + bebida + papas fritas + empanadas</ion-label><br>
        <ion-label>Valor $ 2.800.-</ion-label>
        <ion-img src="assets/combo 8.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Completo 4</h3><br>
        <ion-label>Combo completo + bebida + papas fritas + empanadas + nuggets</ion-label><br>
        <ion-label>Valor $ 3.300.-</ion-label>
        <ion-img src="assets/combo 9.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Completo 5</h3><br>
        <ion-label>Combo completo + bebida + papas fritas + empanadas + nuggets + helado</ion-label><br>
        <ion-label>Valor $ 3.800.-</ion-label>
        <ion-img src="assets/combo 10.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Ensalada 1</h3><br>
        <ion-label>Combo Ensalada + bebida</ion-label><br>
        <ion-label>Valor $ 1.900.-</ion-label>
        <ion-img src="assets/combo 11.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Wrap 1</h3><br>
        <ion-label>Combo Wrap + bebida</ion-label><br>
        <ion-label>Valor $ 1.850.-</ion-label>
        <ion-img src="assets/combo 13.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Combo Wrap 2</h3><br>
        <ion-label>Combo Wrap + bebida + papas fritas</ion-label><br>
        <ion-label>Valor $ 2.250.-</ion-label>
        <ion-img src="assets/combo 14.jpg"></ion-img>
        <hr color="grey">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>